* {
  margin: 0;
  padding: 0;
}


body {
  background-color: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

button {
  background: none;
  border: none;
}


.App-header {
  background-color: #fff;
}


.App-header nav,
.main,
.categoryView,
.postDetail,
.editDiv,
.no-match {
    max-width: 80%;
    margin: 0 auto;
    padding: 10px;
}

.App-header nav ul,
.main ul,
.categoryView ul,
.mainContent ul {
  list-style: none;
}

.App-header nav li {
  display: inline-block; 
  width: 49%;
}


.App-header li.logo {
  text-align: left; 
}


.App-header li.edit {
  text-align: right;
}


.App-header li.edit a { 
  font-size: 1.4em;
  text-decoration: none;
  color: #CA0035;
}


.App-header .logo a {
  font-size: 2em;
  text-decoration: none;
  color: #CA0035;
}


.App-header .logo img {
  vertical-align: middle;
  margin-right: 12px
}


.App-header .edit img {
    vertical-align: middle;
    margin-right: 5px;
}


.categories {
  display: inline-block;
  width: 150px;
}


.categories h3 {
  border-bottom: 1px solid #aaa;
  padding: 8px 8px 8px 0;
  font-size: 1.2em;
  margin-bottom: 6px;
}


.categories ul li {
  padding: 4px 0;
}


.categories ul li a {
  text-decoration: none;
  color: #333;
}


.postsDiv {
  display: inline-block;
  width: 80%;
  vertical-align: top;
  margin-left: 20px;
  padding: 10px;
}

.sortPosts {
  text-align: right;
  margin-bottom: 10px;
}

.sortPosts span {
  font-size: 0.8em;
  color: #222;
}

.post {
  padding: 10px;
  background: #fff;
  border: 1px solid #eee;
  border-radius: 3px;
  margin: 10px 0;
}


.post a {
  color: #000;
  text-decoration: none;
}


.excerpt {
  margin-top: 10px;
  line-height: 1.5em;
}


.postTitle {
  font-weight: bold;
}


.categoryView ul {
  width: 100%;
}


.postDetail,
.editDiv {
  background-color: #fff;
  margin-top: 10px;
  border: 1px solid #eee;
  border-radius: 3px;
}


.postDetail h3 {
  margin-bottom: 12px;
}

.postCategory {
  color: #56B9D0;
  font-weight: bold;
  font-size: 0.8em;
  text-align: right;
  margin: 10px 10px 0 0;
}

.comments {
  margin: 16px 0;
}

.comments h4 {
  border-bottom: 1px solid #eee;
  padding: 10px 0;
}

.comment,
.voteScore  {
  text-align: left;
  width: 25%;
  display: inline-block;
}


.comment img {
  vertical-align: middle;
  margin-right: 6px;
}

.voteScore img.dislike {
  vertical-align: top;
}

.voteScore img  {
  vertical-align: bottom;
  margin-right: 6px;
}

.category {
  display: inline-block;
  width: 50%;
  text-align: right;
  text-transform: uppercase;
}

.commentBody {
  font-size: 0.8em;
}


.editdetails input,
.editdetails textarea,
.editCommentdetails textarea {
  width: 90%;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block
}


.editdetails button, 
.editdetails a.closeEdit,
.editCommentdetails input[type="button"],
.editCommentdetails input[type="submit"]{
  margin-top: 20px;
  padding: 10px;
  text-transform: uppercase;
  font-size: 1em;
  display: inline-block;
  width: 100px;
  background: #eee;
  border: 1px solid #aaa;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  color: #333;
  margin-right: 10px; 
}


.editform {
  padding: 10px;
  width: 80%;
}

.no-match {
  text-align: center;
  font-size: 4em;
  padding: 50px;
  color: #56B9D0;
  margin-top: 20px;
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #fff;
  width: 70%;
}


.no-match span, 
.error-label  {
  color: #CA0035;
}

.tag { display: inline-block; margin-right: 24px;  }
.tag input[type="checkbox"] { width: 25px; display: inline-block; }

.profileImage {
  width: 40px;
  margin-right: 5px;
}

.profileImage img {
  border-radius: 20px;
  vertical-align: middle;
}

.postInfo {
  margin: 6px 0;
}

.author {
  display: inline-block;
  vertical-align: middle;
}

.author address ,
.commentAuthor address{
  font-size: 0.9em;
}

.author time,
.commentAuthor time {
  font-size: 0.8em;
  color: #888;
}


.profileAuthor,
.postEditControls {
  display: inline-block;
  width: 50%;
  text-align: left;
}


.postEditControls {
  text-align: right;
}

.postEditControls .editPost,
.postEditControls .deletePost {
  width: 50px;
}

.voteScoreDetail button,
.commentScore button {
  padding: 5px;
  border: 1px solid #56B9D0;
  border-radius: 3px;
  margin-right: 6px;
}

.voteScoreDetail button span.voteScoreLabel,
.commentScore button span.voteScoreLabel {
  margin-left: 5px;
  border-left: 1px solid #56B9D0;
  padding-left: 5px;
}


.voteScoreDetail {
  text-align: left;
  width: 50%;
  display: inline-block;
}

.commentAuthor address {
  display: inline;
  color: #56B9D0;
}

.postCommentBody {
  font-size: 0.9em;
  margin-bottom: 10px;
}

.postComment {
  padding: 10px 0;
  border-bottom: 1px solid #eee;
}

.postComment:last-child {
  border: 0;
}


button.editComment,
button.deleteComment {
  margin-right: 6px;
  margin-left: 6px;
}


button.editComment img,
button.deleteComment img {
  margin-right: 3px;
}


.editCommentDiv {
  margin: 10px 0;
}


